<div class="form_item_block">
    <label ng-class="{'is-invalid-label': GOINPUTNAME[EnvironmentVariablePrefix].$error.server}">Environment Variable Prefix:</label>
    <input ng-class="{'is-invalid-input': GOINPUTNAME[EnvironmentVariablePrefix].$error.server}" type="text" ng-model="EnvironmentVariablePrefix" placeholder="PREFIX"/>
    <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[EnvironmentVariablePrefix].$error.server}" ng-show="GOINPUTNAME[EnvironmentVariablePrefix].$error.server">{{GOINPUTNAME[EnvironmentVariablePrefix].$error.server}}</span>
</div>
<div class="form_item_block">
    <input id="SkipImagePullingInput" ng-class="{'is-invalid-input': GOINPUTNAME[SkipImagePulling].$error.server}" type="checkbox" ng-model="SkipImagePulling"/>
    <label for="SkipImagePullingInput" ng-class="{'is-invalid-label': GOINPUTNAME[SkipImagePulling].$error.server}">Skip Image Pulling</label>
    <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[SkipImagePulling].$error.server}" ng-show="GOINPUTNAME[SkipImagePulling].$error.server">{{GOINPUTNAME[SkipImagePulling].$error.server}}</span>
</div>
